<html>
    <head>
        <title>
            Welcome {{name}}
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {

            $('#delete').click(function() {

                $.ajax({
                    type        : 'DELETE', // define the type of HTTP verb we want to use
                    url         : '/user/delete', // the url where we want to PATCH
                    data        : undefined, // our data object
                    dataType    : 'json', // what type of data do we expect back from the server
                    encode          : true
                }).done(function(data) {  
                    // using the done promise callback
                });
            });
            });
        </script>
        <style>
            .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

        </style>
    </head>
    <body>
            <div class="container">
            <div class="page-header">
                <h1>User Profile</h1>      
            </div>      
            </div>
            <table align="center">
                <tr>
                    <td>
                        <div class="card" >
                        <h1>{{name}}</h1>
                        <p class="title">{{email}}</p>
                        <p>{{age}} years old</p>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <p><button>Contact</button></p>
                        </div>
                        <div>
                            <form action='/user/logout' method='post'>
                                <button><input style='color:black' type='submit' value="Logout" /></button>
                            </form>
                            <form action='/user/logoutall' method='post'>
                                <button><input style='color:black' type='submit' value="Logout Everywhere" /></button>
                            </form>
                            
                            <button onclick="window.location.href='/user/update'">Update User</button>
                            <br>
                            <button id='delete'>Delete User</button>
                            <mark>Please click on this link to check, if the user is deleted or not (bug) - </mark>
                            <a href='/user/login'>User Deleted or Not!</a>
                        </div>
                    </td>
                </tr>
            </table>

            <hr width='80%'>

            <h2 class='text-center'>Tasks Created by User</h2>
            <table align='center'>
                <tr>
                    <td><Button onclick="window.location.href='/task/add'">Add Task</Button></td>
                    <td>&nbsp;</td>
                    <td><Button onclick="window.location.href='/tasks'">Get Tasks</Button></td>
                </tr>
                <tr><td><br><br></td></tr>
            </table>

    </body>
</html>